<!--Footer-->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="navbar-text">&copy; Copyright 2024. All rights reserved</h6>
    <h6 class="navbar-text"><a href="www.linkedin.com/in/rayyan-m"><i class="fa-brands fa-linkedin"></i></a></h6>
  </nav>
</footer>
</body>
</html>