<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<!--Main Code-->
<h2>About Me</h2>
<div id="aboutMe">
    <img src="images/Anonymous PFP.png" alt=PFP width="200" height="200">
    <p>
        A bunch of text talking about myself (Rayyan) that will tell the visitors of my site a little about me.
    </p>
</div>
<%- include Partials/footer.ejs%>