<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<!--Main Code-->
<h2>Contact Me</h2>

<div id="formPage">
    <h3>Feedback/Question Form</h3>

    <form action="mailto:rayyan.malik@ontariotechu.net" method="post" enctype="text/plain" ?subject=Mistakes name="form">
        <p class="inputSpace">
            <label for="name">Your Name</label>
            <br>
            <input type="text" name="name" placeholder="Your Complete Name" size="48" required>
        </p>
        <p class="inputSpace">
            <label for="email">Your Email</label>
            <br>
            <input type="email" name="email" placeholder="Your Email Address" size="48" required>
        </p>
        <p class="inputSpace">
            <label for="comments">Comments</label>
            <br>
            <textarea name="email" cols="50" rows="8"></textarea>
        </p>
        <p id="submitBtnPos">
            <input id="submitBtn" type="submit" value="Click to Submit">
        </p>
    </form>

</div>
<%- include Partials/footer.ejs%>