<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<!--Main Code-->
<div id="welcomeMessage">
    <h3 id="line1"></h3>
    <h4 id="line2">Welcome to Rayyan's</h4>
    <h4 id="line3">Portfolio</h4>
</div>
<%- include Partials/footer.ejs%>