<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<!--Main Code-->
<h2>My Projects</h2>

<div class="projectBox">
    <a class="projectLink" href="https://rayyanm23.github.io/Assignment-1-Portfolio/" target="_blank" rel="noopener noreferrer">
        <i class="fa-solid fa-link"></i> Project 1: Assignment 1 Portfolio
    </a>
    <p class="projectDesc">Assignment 1 Portfolio is my portfolio created on VSCode with just html, css, and javascript. It was hosted via Github.</p>
</div>
<%- include Partials/footer.ejs%>