<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<!--Main Code-->
<div id="welcomeMessage">
    <h3 id="line1"></h3>
    <h3 id="line2">Welcome to Rayyan's Portfolio</h3>
</div>
<%- include Partials/footer.ejs%>