h2{
    padding-top: 20px;
    text-align: center;
}

#aboutMe{
    position: relative;
    width: 500px;
    background-color: silver;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-align: center;
}

h3{
    text-align: center;
}

#formPage{
    background-color: slategray;
    border-radius: 15px;
    position: relative;
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    justify-items: center;
}

#submitBtnPos{
    text-align: center;
}
#submitBtn{
    width: 200px;
}